.Navigation__list {
    display: flex;
    margin:0;
    list-style: none;
    padding:0;
    }
    .Navigation__list--item {
      flex-basis: 200px;
    padding: 15px 0;
    text-align: center;
    
    }
    .Navigation__list--link {
      font-size: 25px;
      font-weight: 600;
      text-decoration: none;
      color:orangered;
     
    }
    .Navigation__list--active-link {
      color:white;
      text-decoration: underline;
    }
    