.body {
  background-color: orange;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  color: #444444;
}
.title {
  font-size: 25px;
  font-weight: 700;
  margin: 15px 0;
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.AppBar {
  background-color: Indigo;
}



/* movieReviews */
